* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: darkslategray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
border-radius:40px; 
padding-right: 30px; 
padding-left: 30px;
background-color: lightgray;
}

.btn:hover {
  background-color: slateblue;
}

textarea {
display: flex;
width: 100%; 
text-align: center; 
border: 2px solid lightgrey;
font-size: 35px; 
margin:30px auto; 
padding: 10px auto; 
height: 150px;
resize: none;
}